.mathType {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin:10px;
    width: 30%;
    border: 1px solid black;
    background-color: cornflowerblue;
    border-radius: 4px;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }
    &.selected {
        background-color: #3366CC;
    }
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px; /* general fallback */
        font-size: 10vmin;
        font-weight: bold;
        color: white;
    }
}